<h1>Create A Pet!</h1>
<form action="/pets" method="post">
  <fieldset>
    <legend>Pet Info</legend>
    <label>Name: <input type="text" name="name" required></label>
    <label>Birthdate: <input type="date" name="birthdate" max="<%= Time.now.year %>-<%= Time.now.month %>-<%= Time.now.day %>"
     required></label>
    <label>Temperment: <input type="text" name="temperment" placeholder="ex. Energetic" required></label>
  </fieldset>
  <br><br>

  <fieldset>
    <legend>Pet Appearance</legend>
    <label>Animal Class: </label>
    <% classes = ["Mammal", "Bird", "Fish", "Reptile", "Amphibian", "Bug"] %>
    <% classes.each do |c| %>
    <label><%= c.capitalize %><input type="radio" name="animal_class" value="<%=c%>" required></label>
    <% end %>
    <br><br>

    <label>Appendages: </label>
    <% appendages = ["Wings", "Tail", "Antennas", "Spikes", "Second Head", "Trunk", "One Horn", "Two Horns"] %>
    <% appendages.each do |a| %>
    <label><%= a.capitalize %><input type="radio" name="apendages" value="<%=a%>" required></label>
    <% end %>
    <br><br>

    <label>Body Color: <input type="text" name="body_color" required></label>
    <label>Eye Color: <input type="text" name="eye_color" required></label>
  </fieldset>
  <br><br>

  <input type="submit" value="It's Alive!">
</form>
