<h1><%= @pet.name.capitalize %></h1>
<dl>
  <dt>Owner</dt>
  <dd><%=@pet.user.username.capitalize%></dd>
  <dt>Birthdate</dt>
  <dd><%=@pet.birthdate%></dd>
  <dt>Animal Class</dt>
  <dd><%=@pet.animal_class%></dd>
  <dt>Appendages</dt>
  <dd><%=@pet.apendages%></dd>
  <dt>Temperment</dt>
  <dd><%=@pet.temperment.capitalize%></dd>
  <dt>Body Color</dt>
  <dd><%=@pet.body_color.capitalize%></dd>
  <dt>Eye Color</dt>
  <dd><%=@pet.eye_color.capitalize%></dd>
</dl>
<br><br>

<% current_user.pets.include?(@pet) %>
  <a href="/pets/<%=@pet.slug%>/edit">Modify <%=@pet.name.capitalize%></a>
  <a href="/pets/<%=@pet.slug%>/delete">Abandon <%=@pet.name.capitalize%></a>
<% end %>
